In [1]:
import pandas as pd
from collections import Counter
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import numpy as np
import ast

# Machine learning

In [2]:
df_usa_ML = pd.read_csv('datasets/linkedin-jobs-usa-ML.csv', na_values = 'Nan')
df_cd_ML = pd.read_csv('datasets/linkedin-jobs-canada-ML.csv', na_values = 'Nan')
df_af_ML = pd.read_csv('datasets/linkedin-jobs-africa-ML.csv', na_values = 'Nan')

In [3]:
df_usa_ML['country'] = "usa"
df_cd_ML['country'] = "canada"
df_af_ML['country'] = "africa"

In [4]:
df_ML = pd.concat((df_usa_ML, df_cd_ML, df_af_ML), axis  = 0)
df_ML

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,Machine Learning Engineer,Neural Magic,Neural Magic is an early-stage AI software com...,onsite,NaN,"Somerville, MA","[{'Seniority level': 'Associate'}, {'Employmen...",2023-02-19,https://www.linkedin.com/jobs/view/machine-lea...,usa
1,Machine Learning Research Engineer,Neural Magic,Neural Magic is an early-stage AI software com...,onsite,NaN,"Somerville, MA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-03-08,https://www.linkedin.com/jobs/view/machine-lea...,usa
2,Software Engineer (Skill Level 0),Lockheed Martin,This position is participating in our Externa...,onsite,NaN,"Annapolis Junction, MD","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-06,https://www.linkedin.com/jobs/view/software-en...,usa
3,Software Engineer (All Levels),Emveon,"The Software Engineer develops, maintains, and...",onsite,NaN,"Jessup, MD","[{'Seniority level': 'Not Applicable'}, {'Empl...",2023-04-20,https://www.linkedin.com/jobs/view/software-en...,usa
4,Machine Learning Engineer,Verneek,Do you want to be part of the core team for bu...,onsite,NaN,"New York, United States","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-02-27,https://www.linkedin.com/jobs/view/machine-lea...,usa
...,...,...,...,...,...,...,...,...,...,...
1469,Software Engineer,ActionPointe,A leading technology & engineering company wit...,hybrid,NaN,"South East, South-East District, Botswana","[{'Seniority level': 'Entry level'}, {'Employm...",2023-03-22,https://bw.linkedin.com/jobs/view/software-eng...,africa
1470,Junior Software Engineer At Adaptive Computer ...,Adaptive Computer Solutions Ghana Limited,We are a Ghanaian startup with the vision of b...,hybrid,NaN,Ghana,"[{'Seniority level': 'Entry level'}, {'Employm...",2023-02-12,https://gh.linkedin.com/jobs/view/junior-softw...,africa
1471,Senior Software Engineer (Mobile),The Rank Group plc,Company DescriptionRank Interactive is a marke...,hybrid,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-04-19,https://za.linkedin.com/jobs/view/senior-softw...,africa
1472,Software Testing Engineer,ELSEWEDY ELECTRIC,"- Analyze, review, and assess business require...",hybrid,NaN,"Cairo, Cairo, Egypt","[{'مستوى الأقدمية': 'مستوى المبتدئين'}, {'نوع ...",2023-02-23,https://eg.linkedin.com/jobs/view/software-tes...,africa
1473,Software Engineer,Gingernet,"Job IntroductionYou'll be in an exciting, stim...",hybrid,NaN,"South East, South-East District, Botswana","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-05,https://bw.linkedin.com/jobs/view/software-eng...,africa

In [5]:
lst = ['machine learning', 'ml']
df_ML['title'] = df_ML['title'].apply(lambda x: 'machine learning' if any(pattern in x.lower() for pattern in lst) else x)

In [6]:
df_ML['title'].value_counts()

machine learning                       1649
Data Scientist                          350
Software Engineer                       222
Junior Software Engineer                 61
JUNIOR DATA SCIENTIST - Dubai, UAE       61
                                       ...
Senior Data Engineer                      1
Senior Software QA Engineer               1
Data Scientist Inventory Management       1
Associate Educator, Data Scientist        1
Senior Software Engineer – Backend        1
Name: title, Length: 204, dtype: int64

In [7]:
df_ML.loc[df_ML['title'] != 'machine learning', :] = np.nan
df_ML.dropna(subset = 'title', axis = 0, inplace=True)

In [8]:
df_ML['title'].isnull().sum().sum()

0

In [9]:
df_ML.shape

(1649, 10)

# Computer Vision

In [10]:
df_usa_CV = pd.read_csv('datasets/linkedin-jobs-usa-Computer Vision.csv', na_values = 'Nan')
df_cd_CV = pd.read_csv('datasets/linkedin-jobs-canada-Computer Vision.csv', na_values = 'Nan')
df_af_CV = pd.read_csv('datasets/linkedin-jobs-africa-Computer Vision.csv', na_values = 'Nan')

In [11]:
df_usa_CV['country'] = "usa"
df_cd_CV['country'] = "canada"
df_af_CV['country'] = "africa"

In [12]:
df_CV = pd.concat((df_usa_CV, df_cd_CV, df_af_CV), axis  = 0)
df_CV

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,Computer Vision Software Engineer,Valve corporation,Computer vision plays an indispensable role in...,onsite,NaN,"Bellevue, WA","[{'Seniority level': 'Entry level'}, {'Employm...",2023-02-27,https://www.linkedin.com/jobs/view/computer-vi...,usa
1,Machine Learning Engineer,Neural Magic,Neural Magic is an early-stage AI software com...,onsite,NaN,"Somerville, MA","[{'Seniority level': 'Associate'}, {'Employmen...",2023-02-19,https://www.linkedin.com/jobs/view/machine-lea...,usa
2,Junior Software Engineer - Jonsson Cancer Center,UCLA Health,DescriptionThe newly formed Cancer Data Scienc...,onsite,NaN,"Los Angeles, CA","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-07,https://www.linkedin.com/jobs/view/junior-soft...,usa
3,Senior Computer Vision Engineer,Evolv Technology,The Elevator PitchDo you enjoy applying practi...,onsite,NaN,"Waltham, MA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-04-18,https://www.linkedin.com/jobs/view/senior-comp...,usa
4,Computer Vision Engineer,"Koh Young Technology, Inc.",Job Functions: To research and develop scalabl...,onsite,NaN,"San Diego, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2023-03-09,https://www.linkedin.com/jobs/view/computer-vi...,usa
...,...,...,...,...,...,...,...,...,...,...
1294,Software Engineer (Python),PressOne.Africa,About the company and role:We are a funded sta...,hybrid,NaN,"Lekki, Lagos State, Nigeria",[{'Employment type': 'Full-time'}],2023-04-19,https://ng.linkedin.com/jobs/view/software-eng...,africa
1295,Software Engineer,The Rank Group plc,Company DescriptionWe are a leading internatio...,hybrid,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-03-20,https://za.linkedin.com/jobs/view/software-eng...,africa
1296,Software Engineer,Gingernet,"Job IntroductionYou'll be in an exciting, stim...",hybrid,NaN,"South East, South-East District, Botswana","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-05,https://bw.linkedin.com/jobs/view/software-eng...,africa
1297,Software Engineer,Rentoza,Rentoza has embarked on the bold mission to de...,hybrid,NaN,"Cape Town, Western Cape, South Africa",[{'Employment type': 'Full-time'}],2023-04-20,https://za.linkedin.com/jobs/view/software-eng...,africa
1298,Senior Machine Learning Engineer,The Boothby Group,I am seeking a Senior Machine Learning Enginee...,hybrid,NaN,"South East, South-East District, Botswana","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-04-20,https://bw.linkedin.com/jobs/view/senior-machi...,africa

In [13]:
lst = ['computer vision', 'cv', 'computer_vision']
df_CV['title'] = df_CV['title'].apply(lambda x: 'Computer Vision' if any(pattern in x.lower() for pattern in lst) else x)

In [14]:
df_CV.loc[df_CV['title'] !=  'Computer Vision', :] = np.nan
df_CV.dropna(subset = 'title', axis = 0, inplace=True)

# Data science

In [15]:
df_usa_ds = pd.read_csv('datasets/linkedin-jobs-usa-data scientist.csv', na_values = 'Nan')
df_cd_ds = pd.read_csv('datasets/linkedin-jobs-canada-data scientist.csv', na_values = 'Nan')
df_af_ds = pd.read_csv('datasets/linkedin-jobs-africa-data scientist.csv', na_values = 'Nan')

In [16]:
df_usa_ds['country'] = "usa"
df_cd_ds['country'] = "canada"
df_af_ds['country'] = "africa"

In [17]:
df_ds = pd.concat((df_usa_ds, df_cd_ds, df_af_ds), axis  = 0)
df_ds

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,Machine Learning Engineer,Liminal,About Liminal InsightsLiminal’s mission is to ...,oniste,NaN,"Emeryville, CA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-04-22,https://www.linkedin.com/jobs/view/machine-lea...,usa
1,P&S Regional Data Scientist - Modelling and An...,Syngenta,Company DescriptionSyngenta Seeds is one of th...,oniste,NaN,"Downers Grove, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-22,https://www.linkedin.com/jobs/view/p-s-regiona...,usa
2,Data Scientist,Real Staffing,Job title: Data ScientistThe Position: Real St...,oniste,NaN,"San Diego, CA","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-21,https://www.linkedin.com/jobs/view/data-scient...,usa
3,Data Scientist,GraphWear Technologies Inc.,"IntroductionAt GraphWear, we are on a mission ...",oniste,"$125,000.00\r\n -\r\n $1...","San Francisco, CA",[{'Employment type': 'Full-time'}],2023-04-21,https://www.linkedin.com/jobs/view/data-scient...,usa
4,"Data Scientist, Product - Generative AI",Meta,"As a Data Scientist at Meta, you will shape th...",oniste,"$134,000.00\r\n -\r\n $1...","New York, NY","[{'Seniority level': 'Not Applicable'}, {'Empl...",2023-04-20,https://www.linkedin.com/jobs/view/data-scient...,usa
...,...,...,...,...,...,...,...,...,...,...
753,Data Scientist,Progressive Edge,NaN,remote,NaN,"Cape Town, Western Cape, South Africa",[],2023-01-29,https://za.linkedin.com/jobs/view/data-scienti...,africa
754,Crypto Data Scientist (Remote),Token Metrics,NaN,remote,NaN,Democratic Republic of the Congo,[],2023-04-13,https://cd.linkedin.com/jobs/view/crypto-data-...,africa
755,Python Developer (Remote) (1-Year Contract),Datafin Recruitment,NaN,remote,NaN,"Cape Town, Western Cape, South Africa",[],2023-01-28,https://za.linkedin.com/jobs/view/python-devel...,africa
756,Data Science Curriculum Specialist,ExploreAI,NaN,remote,NaN,South Africa,[],2023-04-05,https://za.linkedin.com/jobs/view/data-science...,africa
757,Machine Learning Advocate Engineer - Africa Re...,Hugging Face,"DescriptionHere at Hugging Face, we’re on a jo...",remote,NaN,South Africa,"[{'Seniority level': 'Entry level'}, {'Employm...",2023-02-13,https://za.linkedin.com/jobs/view/machine-lear...,africa

In [18]:
df_ds.replace({'oniste':'onsite'}, inplace = True)

In [19]:
lst = ['data scientist', 'data_scientist', 'data science', 'scientifique', 'r&d scientist/engineer', 'data analyst/scientist']
df_ds['title'] = df_ds['title'].apply(lambda x: 'Data Scientist' if any(pattern in x.lower() for pattern in lst) else x)

In [20]:
df_ds.loc[df_ds['title'] !=  'Data Scientist', :] = np.nan
df_ds.dropna(subset = 'title', axis = 0, inplace=True)

# Data Analysis

In [21]:
df_usa_da = pd.read_csv('datasets/linkedin-jobs-usa-data analysis.csv', na_values = 'Nan')
df_cd_da = pd.read_csv('datasets/linkedin-jobs-canada-data analysis.csv', na_values = 'Nan')
df_af_da = pd.read_csv('datasets/linkedin-jobs-africa-data analysis.csv', na_values = 'Nan')

In [22]:
df_usa_da['country'] = "usa"
df_cd_da['country'] = "canada"
df_af_da['country'] = "africa"

In [23]:
df_da = pd.concat((df_usa_da, df_cd_da, df_af_da), axis  = 0)
df_da

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,Data analyst,Zealogics Inc,Key Responsibilities: Analyze data sets to det...,onsite,NaN,"New York, United States","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-04-10,https://www.linkedin.com/jobs/view/data-analys...,usa
1,Data Analyst,Point72,A Career with Point72’s Office of the CIOThe O...,onsite,NaN,"New York, United States","[{'Seniority level': 'Entry level'}, {'Employm...",2023-03-20,https://www.linkedin.com/jobs/view/data-analys...,usa
2,Data Analyst,Glidewell Dental,DescriptionPosition at PrismatikEssential Func...,onsite,NaN,"Irvine, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2023-04-21,https://www.linkedin.com/jobs/view/data-analys...,usa
3,DATA ANALYST,WaferWire Cloud Technologies,"Hello,Hope you are doing good.Waferwire is loo...",onsite,NaN,"Beaverton, OR","[{'Seniority level': 'Entry level'}, {'Employm...",2023-03-10,https://www.linkedin.com/jobs/view/data-analys...,usa
4,Data Analyst,Brighton Health Plan Solutions,About The RoleThe Data Analytics team maintain...,onsite,NaN,"New York, NY","[{'Seniority level': 'Entry level'}, {'Employm...",2023-03-28,https://www.linkedin.com/jobs/view/data-analys...,usa
...,...,...,...,...,...,...,...,...,...,...
1343,Finance Data Analyst,Vallis Consulting,Cedar has partnered with a renewable energy in...,hybrid,NaN,"South East, South-East District, Botswana","[{'Seniority level': 'Entry level'}, {'Employm...",2023-04-14,https://bw.linkedin.com/jobs/view/finance-data...,africa
1344,Associate Data Analyst,impact.com,Our Company:At Impact our culture is our soul....,hybrid,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Associate'}, {'Employmen...",2023-04-03,https://za.linkedin.com/jobs/view/associate-da...,africa
1345,Data financial analyst,Sofrecom Maroc,You love to help organizations become successf...,hybrid,NaN,"Casablanca-Settat, Morocco","[{'مستوى الأقدمية': 'مساعد'}, {'نوع التوظيف': ...",2023-04-18,https://ma.linkedin.com/jobs/view/data-financi...,africa
1346,Customer Insights Analyst (x2): Marketing - H...,Woolworths,Main Purpose:Bringing the customer to life thr...,hybrid,NaN,"Cape Town, Western Cape, South Africa","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-04-20,https://za.linkedin.com/jobs/view/customer-ins...,africa
1347,Data Analyst,MSP Staffing (Pty) Ltd,NaN,hybrid,NaN,"Johannesburg, Gauteng, South Africa",[],2023-03-01,https://za.linkedin.com/jobs/view/data-analyst...,africa

In [24]:
lst = ['data analyst', 'data analysis', 'data analyst/scientist']
df_da['title'] = df_da['title'].apply(lambda x: 'Data Analyst' if any(pattern in x.lower() for pattern in lst) else x)

In [25]:
df_da.loc[df_da['title'] !=  'Data Analyst', :] = np.nan
df_da.dropna(subset = 'title', axis = 0, inplace=True)

In [26]:
df_da.shape

(3401, 10)

# Natural Language Processing

In [27]:
df_usa_NLP = pd.read_csv('datasets/linkedin-jobs-usa-NLP.csv', na_values = 'Nan')
df_cd_NLP = pd.read_csv('datasets/linkedin-jobs-canada-NLP.csv', na_values = 'Nan')
df_af_NLP = pd.read_csv('datasets/linkedin-jobs-africa-NLP.csv', na_values = 'Nan')

In [28]:
df_usa_NLP['country'] = "usa"
df_cd_NLP['country'] = "canada"
df_af_NLP['country'] = "africa"

In [29]:
df_NLP = pd.concat((df_usa_NLP, df_cd_NLP, df_af_NLP), axis  = 0)
df_NLP

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,NLP Developer,FinTech LLC,As an NLP (Natural Language Processing) develo...,onsite,NaN,"Iselin, NJ","[{'Seniority level': 'Entry level'}, {'Employm...",2023-01-10,https://www.linkedin.com/jobs/view/nlp-develop...,usa
1,NLP Engineer,StoryFit,Are you a NLP Engineer who’s eager to innovate...,onsite,NaN,"Austin, TX","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-03-28,https://www.linkedin.com/jobs/view/nlp-enginee...,usa
2,AI/NLP Researcher,Verneek,Do you want to be part of the core team for bu...,onsite,NaN,"New York, United States","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-02-27,https://www.linkedin.com/jobs/view/ai-nlp-rese...,usa
3,NLP Engineer,MoTek Technologies,ResponsibilitiesProvide computational linguist...,onsite,NaN,"San Francisco, CA","[{'Seniority level': 'Entry level'}, {'Employm...",2023-03-28,https://www.linkedin.com/jobs/view/nlp-enginee...,usa
4,ML Engineer - NLP Systems,Ninjatech Ai,We are NinjaTech AI: a new paradigm shift in h...,onsite,NaN,"Palo Alto, CA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-02-17,https://www.linkedin.com/jobs/view/ml-engineer...,usa
...,...,...,...,...,...,...,...,...,...,...
1052,Data Scientist,Tumaini Consulting,NaN,hybrid,NaN,"Centurion, Gauteng, South Africa",[],2023-02-05,https://za.linkedin.com/jobs/view/data-scienti...,africa
1053,Presales Senior Specialist,SAP,NaN,hybrid,NaN,"Woodmead, Gauteng, South Africa",[],2023-04-21,https://za.linkedin.com/jobs/view/presales-sen...,africa
1054,Balancing Costs Data Scientist,R & R Enterprise,NaN,hybrid,NaN,"South East, South-East District, Botswana",[],2023-04-14,https://bw.linkedin.com/jobs/view/balancing-co...,africa
1055,Data Scientist Lead,Teradata,NaN,hybrid,NaN,"Cairo, Cairo, Egypt",[],2023-04-05,https://eg.linkedin.com/jobs/view/data-scienti...,africa
1056,Data Scientist II: Credit: Collections and Rec...,Capitec,NaN,hybrid,NaN,"Cape Town, Western Cape, South Africa",[],2023-04-12,https://za.linkedin.com/jobs/view/data-scienti...,africa

In [30]:
lst = ['natural language processing', 'nlp']
df_NLP['title'] = df_NLP['title'].apply(lambda x: 'Natural Language Processing' if any(pattern in x.lower() for pattern in lst) else x)

In [31]:
df_NLP.loc[df_NLP['title'] !=  'Natural Language Processing', :] = np.nan
df_NLP.dropna(subset = 'title', axis = 0, inplace=True)

In [32]:
df_NLP

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,Natural Language Processing,FinTech LLC,As an NLP (Natural Language Processing) develo...,onsite,NaN,"Iselin, NJ","[{'Seniority level': 'Entry level'}, {'Employm...",2023-01-10,https://www.linkedin.com/jobs/view/nlp-develop...,usa
1,Natural Language Processing,StoryFit,Are you a NLP Engineer who’s eager to innovate...,onsite,NaN,"Austin, TX","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-03-28,https://www.linkedin.com/jobs/view/nlp-enginee...,usa
2,Natural Language Processing,Verneek,Do you want to be part of the core team for bu...,onsite,NaN,"New York, United States","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-02-27,https://www.linkedin.com/jobs/view/ai-nlp-rese...,usa
3,Natural Language Processing,MoTek Technologies,ResponsibilitiesProvide computational linguist...,onsite,NaN,"San Francisco, CA","[{'Seniority level': 'Entry level'}, {'Employm...",2023-03-28,https://www.linkedin.com/jobs/view/nlp-enginee...,usa
4,Natural Language Processing,Ninjatech Ai,We are NinjaTech AI: a new paradigm shift in h...,onsite,NaN,"Palo Alto, CA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-02-17,https://www.linkedin.com/jobs/view/ml-engineer...,usa
...,...,...,...,...,...,...,...,...,...,...
1016,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1040,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1064,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1088,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1112,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada

# concat all files

In [33]:
df = pd.concat((df_ML, df_CV, df_ds, df_da, df_NLP), axis  = 0)
df

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link,country
0,machine learning,Neural Magic,Neural Magic is an early-stage AI software com...,onsite,NaN,"Somerville, MA","[{'Seniority level': 'Associate'}, {'Employmen...",2023-02-19,https://www.linkedin.com/jobs/view/machine-lea...,usa
1,machine learning,Neural Magic,Neural Magic is an early-stage AI software com...,onsite,NaN,"Somerville, MA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-03-08,https://www.linkedin.com/jobs/view/machine-lea...,usa
4,machine learning,Verneek,Do you want to be part of the core team for bu...,onsite,NaN,"New York, United States","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-02-27,https://www.linkedin.com/jobs/view/machine-lea...,usa
6,machine learning,Yakoa,We’re looking for people who want to build for...,onsite,NaN,"San Francisco, CA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2023-03-11,https://www.linkedin.com/jobs/view/machine-lea...,usa
7,machine learning,"Chemix, Inc.",Chemix is seeking a highly-motivated graduate-...,onsite,NaN,"Sunnyvale, CA","[{'Seniority level': 'Internship'}, {'Employme...",2023-03-09,https://www.linkedin.com/jobs/view/machine-lea...,usa
...,...,...,...,...,...,...,...,...,...,...
1016,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1040,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1064,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1088,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada
1112,Natural Language Processing,Cresta,NaN,hybrid,NaN,"Toronto, Ontario, Canada",[],2023-03-23,https://ca.linkedin.com/jobs/view/software-eng...,canada

In [34]:
df.reset_index(inplace=True, drop = True)

In [35]:
df.to_csv("Preprocessed_data2.csv", index= False)